.loading {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  height: 100%;
  right: 1rem;
  top: 50%;
  margin-top: -10px;
}

.loading:after {
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #777;
  border-color: #777 transparent #777 transparent;
  animation: loading 1.2s linear infinite;
  will-change: transform;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
