/* Reset WebKit-based browsers search reset icon (Chrome/Safari) */
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type='search'] {
  padding-left: 2.75rem;
  padding-right: 2.5rem;
}
